home {
	// .ion-card {
	// 	 
	// 	 width:100%;
	// }	

	ion-card.card {
		margin:0 !important;
		width:100% !important;
		background: rgba(0, 0, 0, 0.02);
		text-align: center;
	}	

	ion-item {
		text-align: center !important;
	}

	 ion-icon {
        font-size: 80px;
		color:#153299 !important;
    }
}